/*

---01 TYPOGRAPHY SYSTEM---

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

--Font weights:
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

--Line heights:
Default: 1
Small: 1.05
Paragraph: 1.6 

-- Letter spacing
0.5px



---02 COLORS---

Primary: 

--Tints: 
--Shades: 
--Accents:
--Greys: #555 #333 #767676

---03 SHADOWS---

---04 BORDER-RADIUS---

---05 WHITESPACE---


SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lora", serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  background-color: #f3edef;
}

/***************************/
/* HEADER SECTION */
/***************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  padding: 0 4.8rem;
  border-bottom: solid 1px #ffadc9;
}

.header-links {
  text-decoration: none;
}

.heading-först {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -0.5px;
  color: #ff3378;
  animation-name: myAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.heading-tredje {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ff3378;
  animation-name: myAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
  animation-name: myAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.social-link:link,
.social-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #ff3378;
  transition: all 0.3s;
}

.social-link:hover,
.social-link:active {
  color: #555;
}

/***************************/
/* HERO SECTION */
/***************************/

.section-hero {
  padding: 4.8rem 0 6.4rem 0;
}

.inledning {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem;
  align-items: center;
}

.film-img {
  width: 100%;
  border-radius: 15px;
}

.heading-andra {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}

.beskrivning {
  font-size: 2rem;
  line-height: 1.6;
  color: #333;
}

.filmer-serier {
  max-width: 80rem;
  margin: 9.6rem auto 3.2rem;
}

.imdb {
  font-size: 2rem;
  line-height: 1.6;
  color: #333;
}

/***************************/
/* TABELL SECTION */
/***************************/

.tabeller {
  padding: 8rem 0 3.2rem 0;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem;
  align-items: center;
}

.img-box {
  width: 100%;
  border-radius: 15px;
}

tbody tr:nth-child(odd) {
  background-color: #f3edef;
}

tbody tr:nth-child(even) {
  background-color: #dbd5d7;
}

table {
  border-collapse: collapse;
}

caption {
  font-weight: bold;
  font-size: 1.8rem;
  padding-bottom: 1rem;
}

td {
  padding: 2rem 1.4rem;
  text-align: left;
  color: #333;
  font-size: 1.4rem;
}

tr {
  font-weight: bold;
}

.film-info {
  font-size: 2rem;
  line-height: 1.6;
  color: #333;
  margin-bottom: 4.8rem;
}

.media {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  border-top: solid 1px #ff3378;
}

.media.last {
  margin-bottom: 12.8rem;
}

.trailern:link,
.trailern:visited {
  display: inline-block;
  text-decoration: none;
  color: #ff3378;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
  border-top-width: 1px;
}

.trailern:hover,
.trailern:active {
  text-decoration: underline;
}

.hyr-köp:link,
.hyr-köp:visited {
  display: inline-block;
  text-decoration: none;
  color: #ff3378;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.hyr-köp:hover,
.hyr-köp:active {
  text-decoration: underline;
}

.trailern {
  padding-top: 2.4rem;
}

.hyr-köp {
  padding-bottom: 2.4rem;
}

/***************************/
/* FOOTER SECTION */
/***************************/

.footer {
  padding: 6.4rem 0 8rem;
  border-top: 1px solid #ffadc9;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #555;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  text-decoration: underline;
  color: #ff3378;
}

.social-link:link,
.social-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #ff3378;
  transition: all 0.3s;
}

/***************************/
/* KEY FRAMES */
/***************************/

@keyframes myAnimation {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

